body{
    background-color: azure;
    font-family: sans-serif;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

header{
    color: azure;
    background-color: rgb(214, 167, 95);
    height: 5vw;
    padding: 0.01vw;
}

header > h1{
    text-align: center;
}
