body{
    background-color: azure;
    font-family: sans-serif;
    margin: 10px;
}

header{
    height: 5vw;
    background-color: deepskyblue;
    padding: 0.01vw;
}

header > h1{
    text-align: center;
}
