

body{
    background-color: azure;
    font-family: sans-serif;
    margin: 10px;
}

header{
    height: 5vw;
    background-color: deepskyblue;
    padding: 0.01vw;
}

header > h1{
    text-align: center;
}

/*the the3rdMoon class for divs*/
div.the3rdMoon{
    color: chocolate;
    background-color: azure;
    width: fit-content;
    margin: 10px 0;
}

/*neno's class for divs*/
div.neno{
    color: #fff;
    background-color: rgb(31, 27, 88);
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 10px 0;
}