
/*the3rdMoon class for divs*/
div.the3rdMoon{
    color: azure;
    background-color: rgb(214, 167, 95);
    width: fit-content;
    margin: 10px 0;
    padding: 5px;
    border-radius: 2px;
    border-color: deepskyblue;
}

/*neno's class for divs*/
div.neno{
    color: #fff;
    background-color: rgb(31, 27, 88);
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 10px 0;
}

/*paul's class for divs*/
.paul{
    color: grey;
    background-color: rgb(34, 18, 40);
    width: fit-content;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 8px;
}
